__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/
build/
dist/
.venv/
venv/
env/

.idea/

*:Zone.Identifier

Chronicler
Chronicler.exe
.claude
